
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

// Header section ===============================
.contact-header {
  height: 60px;
  background-color: #444554;
  font-size: 24px;
  color: white;
  position: fixed;
  width: 100%;

  .social-icons,
  .message-us {
    display: inline-block;
    margin-top: 10px;
  }

  .social-icons {
    float: left;
    margin-left: 50px;
  }

  .message-us {
    float: right;
    margin-right: 50px;
  }

}

.header-img {
  height: 830px;
  background-size: cover;
  background-image: url('/images/header.png');
  background-repeat: no-repeat;
}

