// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';


//Scroll-x 
html {
  overflow-x: hidden;
}



// Header section ===============================
.navbar {
    background-color: lighten(#3C3D4A, 5%);
    font-size: 24px;
    font-family: 'Arvo', serif;

  .navbar-brand {
    margin-left: 1rem;
    font-size: 1.3em;
    font-family: 'arvo', cursive;
    letter-spacing: 4px;
    color: lighten(#004777, 42%);
  }

  .logo {
    width: 68px;
    height: 68px;
    margin: 10px 0 1rem 10px;
  }
}

  .navbar-expand-md .navbar-nav .nav-link {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
  }

//top contact header
.contact-header {
  height: 60px;
  background-color: #004777;
  font-size: 24px;
  color: white;
  width: 100%;
  border-bottom: 3px solid darken(#444554, 10%);

  .social-icons,
  .message-us {
    display: inline-block;
    margin-top: 12px;
  }

  .social-icons {
    float: left;
    margin-left: 50px;
  }

  .message-us {
    float: right;
    margin-right: 50px;
  }
}

//header-image
.header-img {
  height: 830px;
  background-size: cover;
  background-image: url('/images/header.png');
  background-repeat: no-repeat;
  position: relative;
}


//content
.header-content {
  position: absolute;
  top: 30%;
  left: 60%;

  h1 {
    font-size: 3em;
    color: #FF9F00;
    font-weight: bold;
    letter-spacing: 3px;
    font-family: 'Coiny', cursive;
    font-weight: 200;
    letter-spacing: 4px;
  }

  p {
    color: white;
    font-size: 1.6em;
    letter-spacing: 2px;
    width: 95%;
    font-family: 'Arvo', serif;
  }

  a {
    border: 2px solid #FF8D00;
    padding: 10px 20px;
    font-size: 1.6em;
    height: auto;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    letter-spacing: 2px;
    font-weight: bold;

    &:hover {
      background: #111111;
      transition: 0.6s ease all;
      border-radius: 1px;
      border-color: #111111;
    }
  }
}

// Nav 
.header-nav {
  height: 60px;
  font-size: 30px;
  color: white;
  width: 100%;
  z-index: 12;
  position: absolute;
  top: 10%;
  left: 30%;
  font-family: 'Arvo', serif;

  ul li {
    display: inline-block;
    margin-right: 20px;
    letter-spacing: 2px;

    &:last-child {
      margin-right: 0;
    }
  }
}


// Services offered
.services-offered {
  span {
    font-size: 2.5em;
    text-align: center;
    display:block;
    margin: 50px 0;
    font-family: 'Coiny', cursive;
    color: #444553;
  }

  .divider {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  &:after, &:before {
    content: '';
    background-color: #3C3D4A;
    height: 5px;
    width: 35vw;
    margin: 25px;
  }
}

}


// Services Offered 
.services-offered {

  h3 {
    font-family: 'Arvo', serif;
    margin: 30px 0;
    font-size: 2.1em;
    color: #004777;
    letter-spacing: 1px;
    font-weight: 900;
  }
  
  .service-img {
    height: 150px;
    width: 150px;
    margin-left: 3.4rem;

  }

  .service-title,
  .service-text {
    text-align: center;
  }

  .service-text {
    margin-bottom: 35px;
  }

  .service-button {
    text-align: center;
    border: 3px solid #FF8D00;
    padding: 10px 20px;
    color: #111111;
    border-radius: 4px;
    letter-spacing: 2px;
    font-weight: bold;
    width: 115px;
    margin-left: 4.5rem;
    font-size: 1.2em;

      &:hover {
        background: #444554;
        transition: 0.6s ease all;
        color: #fff;
        border-radius: 1px;
        border-color: #444554;
        text-decoration: none;
    }
  }

  .service-title {
    font-family: 'Arvo', serif;
    margin: 15px 0;
    font-size: 1.7em;
  }

}


